<!DOCTYPE html>
<html>
    <head>
        <title>Login page</title>
        <link rel="stylesheet" href="css/login.css">
    </head>

    <body>

        <% if (message) { %>
            <div id="d">
                <div id="red"><%= message %></div>
                <div onclick="remove()" class="x">x</div>
            </div>
        <% } %>

        <div class="container">
            <div class="logo"></div>
            
            <form action="/" method="post">
                <div>
                    <label for="username" class="cred">Username</label><br/>
                    <input name="username" type="text" class="username" placeholder="Enter your username">
                </div>
                <div>
                    <label for="password" class="cred">Password</label><br/>
                    <input name="password" type="password" class="password" placeholder="Enter your password">
                </div>
                <div>
                    <button type="submit" name="login" class="login">Login</button>
                </div>
            </form>

            <% if (message) { %>
                <button class="login"><a href="/signup">Sign up</a></button>
            <% } %>
        </div>
    </body>
    <!-- <script src="JavaScript/login.js"></script> -->
    <script src="routes/login.js"></script>

</html>
