*{
    margin : 0;
    padding : 0;
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEiA_f1VfYmGC-LHOOaXI13KW6VDg1HNpSAub9st0coyHIqC1PZSEuD_vs7QxCy0MLXEk&usqp=CAU"); */
    background-size : cover;
    object-fit: cover;
    background-color: #201711;
    color : white;
}

.map{
    height : 90vh;
    width : 40vw;
    margin-left : 30vw;
    margin-top : 2vw;
    border : none;
}

.pointblr{
    background-color : white;
    background-image: none;
    position : absolute;
    top : 81vh;
    left : 44vw;
    border : 2px solid rgb(242 12 144);
    border-radius : 50%;
    padding : 4px;
}

.blr{
    color : white;
    position : absolute;
    top : 75vh;
    left : 42vw;
    border : 1.5px solid white;
    border-radius : 10px;
    padding : 2px;
    visibility : hidden;
}

.pointblr:hover+.blr{
    visibility: visible;
}

.pointblr:hover{
    transition : transform 2s;
    cursor: pointer;
    padding : 5px;
    box-shadow: 3px 3px 3px 3px rgb(242 12 144);
}

.pointhyd{
    background-color : white;
    background-image : none;
    position : absolute;
    top : 71vh;
    left : 46vw;
    border : 2px solid rgb(242 12 144);
    border-radius : 50%;
    padding : 4px;
}

.hyd{
    color : white;
    position : absolute;
    top : 66vh;
    left : 44vw;
    border : 1.5px solid white;
    border-radius : 10px;
    padding : 2px;
    visibility : hidden;
}

.pointhyd:hover+.hyd{
    visibility: visible;
}

.pointhyd:hover{
    transition : transform 2s;
    cursor: pointer;
    padding : 5px;
    box-shadow: 3px 3px 3px 3px rgb(242 12 144);
}


.pointmb{
    background-color : white;
    background-image : none;
    position : absolute;
    top : 67vh;
    left : 39vw;
    border : 2px solid rgb(242 12 144);
    border-radius : 50%;
    padding : 4px;
}

.mb{
    color : white;
    position : absolute;
    top : 61vh;
    left : 37.5vw;
    border : 1.5px solid white;
    border-radius : 10px;
    padding : 2px;
    visibility : hidden;
}

.pointmb:hover+.mb{
    visibility: visible;
}

.pointmb:hover{
    transition : transform 2s;
    cursor: pointer;
    padding : 5px;
    box-shadow: 3px 3px 3px 3px rgb(242 12 144);
}
