*{
    margin : 0px;
    padding : 0px;
    background-color: white;
}

.nav{
    height : 60px;
    width : 100vw;
    background-color: rgb(49, 3, 49);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw; 
    height: 100vh;
    background-image : url('https://img.freepik.com/premium-vector/pink-watercolor-background_318204-34.jpg');
    background-size: cover;
    object-fit: cover;
    image-rendering: crisp-edges;
    color :  rgb(242 12 144);
}

.logo{
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/hd/c8f6eb76656899.5c7008675852c.png");
    width : 19rem;
    height : 3rem;
    background-size: cover;
    margin-bottom : 4rem;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}

.container form{
    display : flex;
    flex-direction: column;
    color :  rgb(242 12 144);
    align-items : center;
    width : 45vw;
    gap : 3rem;
    font-size : 1.5rem;
    padding : 20px;
    border-radius : 40px;
}

.content{
    height : 10vh;
    width : 45vw;
    display : flex;
    justify-content: space-around;
    align-items: center;
}

.date{
    height : 6vh;
    width : 15vw;
    border : 1.8px solid rgb(242 12 144);
    border-radius : 10px;
    padding : 5px;
    font-size : 15px;
    color : rgb(242 12 144);
}

.guests{
    height : 8vh;
    width : 6vw;
    padding : 5px;
    align-items: center;
    border : 1.8px solid rgb(242 12 144);
    border-radius : 10px;
    font-size : 15px;
    color : rgb(242 12 144);
}

.time{
    height : 8vh;
    width : 10vw;
    padding : 5px;
    align-items: center;
    border : 1.8px solid rgb(242 12 144);
    border-radius : 10px;
    font-size : 15px;
    color : rgb(242 12 144);
}

.book{
    font-size : 1.5rem;
    height : 8vh;
    width : 20vw;
    border : 0.2px solid rgb(242 12 144);
    background-color: rgb(242 12 144);
    color : white;
    border-radius : 3vh;
}

.book:hover{
    cursor : pointer;
    transition : transform 2s;
    height : 3.5rem;
    width : 21vw;
    font-size : 1.6rem;
    box-shadow : 0.2rem 0.2rem 0.2rem 0rem rgb(242 12 144);
}

.slots{
    margin-top : 4px;
    height : 30vh;
    width : 40vw;
    display : flex;
    justify-content: space-evenly;
    align-items: center;
    padding : 8px;;
}

.box{
    border : 2px solid rgb(242 12 144);
    height : 10vh;
    width : 10vw;
    border-radius : 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color : rgb(145, 5, 84);
    font-size : 1.4rem;
}
/* #fcdfe3 */

.box:hover{
    cursor : pointer;
    transition : transform 2s;
    height : 12vh;
    width : 12vw;
    color : rgb(81, 3, 47);
    background-color : #fef2f2;
    font-size : 1.7rem;
    box-shadow : 0.2rem 0.2rem 0.2rem 0rem rgb(242 12 144);
}