*{
    margin : 0px;
    padding : 0px;
    background-color: white;
}

.nav{
    height : 60px;
    background-color: rgb(64 32 34);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw; 
    height: 100vh;
    background-image : url('https://img.freepik.com/premium-vector/pink-watercolor-background_318204-34.jpg');
    background-size: cover;
    object-fit: cover;
    image-rendering: crisp-edges;
}

.logo{
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/hd/c8f6eb76656899.5c7008675852c.png");
    width : 19rem;
    height : 3rem;
    background-size: cover;
    margin-bottom : 4rem;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}

.container form{
    display : flex;
    align-items : center;
    flex-direction : column;
    width : 33rem;
    gap : 3rem;
    font-size : 1.5rem;
    padding : 20px;
    border-radius : 40px;
}


.container input, button{
    color : rgb(242 12 144);
    height : 2.5rem;
    width : 30rem;
    border-radius: 1.2rem;
    padding : 0.3rem;
}

input::placeholder {
    color: rgb(242, 153, 204); 
    opacity: 1; 
}

.container button{
    font-size : 1.5rem;
    height : 3.3rem;
    border : 0.2px solid rgb(242 12 144);
    background-color: rgb(242 12 144);
    color : white;
    border-radius : 1.2rem;
}

.container button:hover{
    cursor : pointer;
    transition : transform 2s;
    height : 3.5rem;
    font-size : 1.6rem;
    box-shadow : 0.2rem 0.2rem 0.2rem 0rem rgb(242 12 144);
}

.username, .password{
    border : 0.15rem solid rgb(64 32 34);
}

.cred{
    color : rgb(242 12 144);
    font-weight : bold;
}